html
  head
    title= recipe.title
    link(href="https://fonts.googleapis.com/css?family=Lora|Lato", rel="stylesheet")
    style(type='text/css').
      body {
        margin: 0.635cm;
        margin-right: calc(50% + 0.635cm);
        font-family: 'Lora', serif;
        font-size: 12px;
      }

      .header {
        font-size: 20px;
      }

      .sans {
        font-family: 'Lato', sans-serif;
      }

      @media print {
        body {margin: 0.635cm; margin-right: calc(50% + 0.635cm)}
        @page {margin: 0; size: landscape;}
      }

      .ingredients {
        margin-left: 40px;
      }

      .ingredients ul {
        margin: 0;
        padding: 0;
      }

      .ingredient {
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-top: 0px;
        margin-bottom: 10px;
        list-style-type: none;
      }

      .instruction {
        margin-top: 0;
        margin-bottom: 10px;
      }

      .meta {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 4px;
        display: flex;
        flex-wrap: wrap;
      }

      .meta > div {
        flex: 0 0 auto;
        padding: 5px;
      }

      .image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
      }

      table {
        width: 100%;
        font-size: 12px;
      }

      .prewrap {
        white-space: pre-wrap;
      }

      .leftCol {
        width: 200px;
        padding-right: 20px;
      }
    if modifiers.indexOf('columns') !== -1
      style(type='text/css').
        .ingredients {
          margin-left: 0;
        }
        .ingredients ul {
          columns: 2;
        }
  body
    table(class='table1')
      tbody
        tr
          if recipe.image && recipe.image.location
            td(class='leftCol')
              img(class='image', src= recipe.image.location)
              br
              br
          td
            h1(class='sans header')= recipe.title
            if recipe.source || recipe.activeTime || recipe.totalTime || recipe.yield
              div(class='meta')
                if recipe.source
                  div
                    b(class='sans') Source:&nbsp;&nbsp;
                    span= recipe.source
                if recipe.activeTime
                  div
                    b(class='sans') Active Time:&nbsp;&nbsp;
                    span= recipe.activeTime
                if recipe.totalTime
                  div
                    b(class='sans') Total Time:&nbsp;&nbsp;
                    span= recipe.totalTime
                if recipe.yield
                  div
                    b(class='sans') Yield:&nbsp;&nbsp;
                    span= recipe.yield
            p= recipe.description
            if recipe.labels
              -var labelIdx = 0
              each label in recipe.labels
                i= label.title
                if ++labelIdx < recipe.labels.length
                  i ,&nbsp;

    if recipe.ingredients
      div(class='ingredients sans')
        ul
          each ingredient in recipe.ingredients
            li(class='ingredient')= ingredient
    if recipe.instructions
      div
        -var instructionIdx = 0
        each instruction in recipe.instructions
          p(class='instruction')
            b(class='sans')= ++instructionIdx
            span &nbsp;&nbsp;&nbsp;
            span= instruction

    if recipe.notes
      b(class='sans') Notes:
      p(class='prewrap')= recipe.notes

    if recipe.url
      b(class='sans') Source URL:&nbsp;
      span= recipe.url

    p
      i Printed on&nbsp;
      i= date

  script(type='text/javascript').
    if (window.location.href.indexOf('print=true') > -1) {
      window.print();
      window.onafterprint = window.close;
    }
